@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MyLaboratory</title>

    @*HomePage Site Icon*@
    <link rel="Shortcut Icon" href="~/anonymous/favicon.ico" type="image/x-icon" />
    @*<!-- Font Awesome -->*@
    <link rel="stylesheet" href="~/anonymous/plugins/fontawesome-free/css/all.min.css" asp-append-version="true">
    @*<!-- icheck bootstrap -->*@
    <link rel="stylesheet" href="~/anonymous/plugins/icheck-bootstrap/icheck-bootstrap.min.css" asp-append-version="true">
    @*<!-- Theme style -->*@
    <link rel="stylesheet" href="~/anonymous/dist/css/adminlte.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/anonymous/custom/_AdminlteBlank/css/modal.css" asp-append-version="true">

    @RenderSection("Styles", required: false)

</head>
<body class="hold-transition login-page" style="background-image: url('/anonymous/images/bg1.jpg'); background-size: cover;">
    @RenderBody()
    @*<!-- jQuery -->*@
    <script src="~/anonymous/plugins/jquery/jquery.min.js" asp-append-version="true"></script>
    <script src="~/anonymous/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/anonymous/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>
    @*<!-- Bootstrap 4 -->*@
    <script src="~/anonymous/plugins/bootstrap/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    @*<!-- AdminLTE App -->*@
    <script src="~/anonymous/dist/js/adminlte.min.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>