@using MyLaboratory.WebSite.Common

<footer class="main-footer text-sm">
    <strong>Copyright &copy; 2021-@DateTime.Now.Year <a href="@ServerSetting.DomainName">MyLaboratory</a>.</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
        <b>Version</b> 3.1.0
    </div>
</footer>